
h1 {
    color :  rgb(182, 71, 209); 
    text-align: center;
    padding-block-start: 10px;
    padding-top: 90px;
}

#titleimage {
    background-image:url('https://cdn.pixabay.com/photo/2016/08/14/12/41/water-lily-1592793__340.png');
    background-color: #d9e5ff;
    background-position: 20px;
    background-position-x: unset;
    width: 100%;
    height: 320px;
}

.side {
  display: flex;
}

.left {
  margin: 35px;
}

.rigth {
 margin: 80px;
 margin-top: 90px;
 margin-left: 40px;
 margin-right: 100px;
 font-size: medium;
 border : solid rgb(182, 71, 209) 8px;
 border-radius: 40PX;
}

#maininfor {
    /* background-color: black; */
}

#maineducation {
    margin-left: 1px;
}
.education {
    margin-left: 2px;
    background-color: black;
    padding-bottom: 30px;
    margin: 0px;
}
.career {
  margin: 0px;
  background-color:  rgb(182, 71, 209);
}

.educationli {
    border : solid black 8px;
    border-radius: 40PX;
}

.propile {
    background-color: rgb(182, 71, 209);
    padding-top: 3px;
}

.careerli {
    border : solid rgb(182, 71, 209) 8px;
    border-radius: 40PX;
}

#maininfor {
    color: white;
}
.side {
    background-color:  rgb(182, 71, 209);
}



h2 {
    margin: 0px;
    padding-top: 20px;
}

.propile {
    margin: 0px;
}